{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static',path='/css/create_article.css')}}"
/>
{% endblock head %} {% block content %}
<main class="main_container">
  <section class="container">
    <div class="head_container">
      <div class="sub_container">
        <div class="article_container">
          <div class="mb-5" style="text-align: center">
            <h2 style="font-weight: 600">Edit Article</h2>
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="title"
              placeholder="Title"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="author"
              placeholder="Author"
            />
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              id="content"
              rows="3"
              placeholder="Content"
            ></textarea>
          </div>

          <div class="mb-3" style="text-align: center">
            <button id="submit" type="button" class="btn btn-primary">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script>

  $(document).ready(function () {
    function view_report(){
      console.log("article_id","{{article_id}}")
        $.ajax({
          url: "/api/detail_article/{{article_id}}/",
          type: "GET",
          success: function (data) {
            console.log(data)
            if (data){
              data = data[0]
              $("#title").val(data.title);
              $("#author").val(data.author);
              $("#content").val(data.content);
            }
          },
          error: function (error) {
            console.log(error);
          },
        });
      }

      view_report()











    $("#submit").click(function () {
      var title = $("#title").val();
      var author = $("#author").val();
      var content = $("#content").val();


      if (title && author && content) {
        $.ajax({
          url: "/api/edit_article/{{article_id}}/?title="+title+"&author="+author+"&content="+content,
          type: "PUT",
          success: function (data) {
            if (data.status_code == 200) {
              $('#loading-screen').removeClass('hide').addClass('show');
              setTimeout(() => {
                $('#loading-screen').removeClass('show').addClass('hide');
                    setTimeout(() => {
                      window.location.href = "/view_articles"
                    }, 500); 
                }, 1000);         
              }
          },
          error: function (error) {
            console.log(error);
          },
        });
      } else {
        $(".msg").text("Please fill the all form fields");
        $(".alert_container").addClass("show");
        $(".alert_container").removeClass("hide");
        $(".alert_container").addClass("showAlert");
        setTimeout(function () {
          $(".alert_container").removeClass("show");
          $(".alert_container").addClass("hide");
        }, 2000);
      }
    });
  });
</script>
{% endblock content %}
